    body {
        background-image: url(imagens/fundo.jpg); 
        font-family: Arial, sans-serif; 
        margin: 0; 
        padding: 0; 
    }

    header {
        background-image: linear-gradient(to bottom, #CA6702, #ae5802, #934a01, #434343);
        height: 100px;
    }
    .container {
        display: flex;
        align-items: center;
    }

    nav {
        padding-top: 0px;
        padding-left: 0px;
        margin-bottom: 100px;

    }

    nav>a {
        text-decoration: none;
        color: #521b02;
        padding: 38px;
        font-size: 22px;
        font-family: burger;
        display: inline-block;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    nav>a.style:hover {
        background-color: #5c1f0229;
        transition: 0.3s;
        font-size: 20px;
    }
    #img-burger {
        width: 45px;
    }
    #img-fritas {
        width: 35px;
    }

    #img0 {
        padding: 0px;
        margin: 0%;
        height: 200px;
    }

    #img1 {
        margin-left: 25%;
        margin-top: 3%;
        border-radius: 20px;
        box-shadow: 4px 4px 4px #521b02de;
        width: 400px;
    }
    #img1:hover {
        box-shadow: 8px 8px 8px #521b02de;
        transition: 0.3s;

    }
    #img2 {
        border-radius: 20px;
        box-shadow: 4px 4px 4px #521b02de;
        margin-left: 10px;
        width: 400px;
    }
    #img2:hover {
        box-shadow: 8px 8px 8px #521b02de;
        transition: 0.3s;
    }
    #img3 {
        width: 400px;
        margin-left: 25%;
        margin-top: 15px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px #521b02de;
    }
    #img3:hover {
        box-shadow: 8px 8px 8px #521b02de;
        transition: 0.3s;
    }
    #img4 {
        width: 400px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px #521b02de;
        display: inline-block;
        align-items: center;
        margin-left: 10px;
        height: 265px;
    }
    #img4:hover {
        box-shadow: 8px 8px 8px #521b02de;
        transition: 0.3s;
    }

    .topo {
        color: #F8C364;
        font-family: burger;
        text-align: center;
        font-size: 36px;
        margin-top: 90px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.541);
    }
    .topo:hover {
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
        cursor: pointer;
        transition: 0.3s;
        color: #fcd07eea;
    }
    .topo2 {
        text-align: center;
        margin-top: 70px;
        font-size: 26px;
        color: #a4a2a2;
        font-family: burger;
    }
    /* menu da pagina*/

    /* rodape da pagina*/
    body {
        font-family: Arial, sans-serif; 
        margin: 0; 
        padding: 0;
    }

    .footer-container {
        color: #ffffff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;
    }

    .footer-column {
        color: #ffffff;
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
        margin-bottom: 20px;
    }

    .footer-column h3 {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer-column p {
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
    }

    .footer-info {
        font-size: 12px;
        margin-top: 20px;
    }

    .contact-info {
        display: flex;
        align-items: center;
    }

    .contact-text {
        flex-grow: 1;
    }

    .contact-image {
        margin-left: 20px;
    }

    .contact-image img {
        max-width: 100%;
        height: auto;
    }

    .rodape-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .desenvolvedor_web,
    .aviso_direitos {
        background-color: #ff7300;
        color: #000000;
        padding: 3px;
        text-align: center;
        font-size: 14px;
        position: relative;
        left: 0;
        bottom: 0;
        width: auto;
        margin-top: 17px;
    }

    /* Responsividade do site */
    @media screen and (max-width: 768px) {
        .footer-column {
            flex-basis: 100%;
            margin: 10px 0;
        }

        .contact-info {
            flex-direction: column;
            align-items: flex-start;
        }

        .contact-image {
            margin-left: 0;
            margin-top: 10px;
        }
    }
    /* rodape da pagina*/

/* Explicação dos hamburgues*/
.body1{background-image: url(https://images4.alphacoders.com/594/594600.jpg);
    background-size: 100%}
.div1 { 
        display:flex;
        justify-content: space-between;
        margin-top: 150px; 
        margin-left: 200px;
        color: white; 
    }

.p1{ 
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 0px;
    color: #ffc765;
    font-family: burguer;
    font-size: 20px;
    width: 0px;
}

@font-face {
    font-family: burguer;
    src: url(fonte/Iron\ &\ Brine.ttf);
}

.h41{ margin-bottom: 50px;
    margin-right: 350px;
    margin-top: 90px;
    font-family: , Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* Explicação dos hamburgues*/

/* Formulario css*/
.box{
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}
.fieldset1{
    border: 3px solid #f79431;
    border-radius: 10px;
}
.legend1{
    border: 1px solid #f79431;
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 101, 30);
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #ffc354b2;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(360deg, #ae1f12d7, #ff5405bb);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(360deg, #cf3a2d, #f7763a);
}
/* Formulario css*/
