body{background-image: url(https://images4.alphacoders.com/594/594600.jpg);
    background-size: 100%}
div { 
     display:flex;
      justify-content: space-between;
       margin-top: 150px; 
       margin-left: 200px;
       color: white;

       
    }
 
p{ 
    
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-top: 0px;
    color: #ffc765;
    font-family: burguer;
    font-size: 20px;
    width: 0px;
}

@font-face {
    font-family: burguer;
    src: url(fonte/Iron\ &\ Brine.ttf);
}

h4{ margin-bottom: 50px;
     margin-right: 350px;
    margin-top: 90px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


   


 
